/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

/* Colors */
$white: #ffffff;
$black: #2a2a2a;
$accent: #2a64f8;
$accent-highlight: #5b88fa;
$background: #f7f7f7;
$red: #FF4365;
$green: #8FD694;
$gray-text: #666666;
$gray-border: #E7E7E7;

$box-shadow: 0 2px 4px 0px rgba($black, 0.15);

body {
    background-color: $background;
}

a {
    text-decoration: none;
}

/* Text Styling */
h2 {
    margin: 0;
    padding: 0;
    font-size: 1.35em;
    color: $black;
    margin-bottom: 18px;
}

h4 {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    color: $black;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 8px;
}

.p-title {
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    font-weight: bold;
    color: $black;
    margin-bottom: 4px;
}

.p-big {
    margin: 0;
    padding: 0;
    font-size: 1.05em;
    color: $black;
}

.p-black {
    margin: 0;
    padding: 0;
    font-size: 0.95em;
    color: $black;
    margin-bottom: 0;
}

.p-gray {
    margin: 0;
    padding: 0;
    font-size: 0.95em;
    color: $gray-text;
    margin-bottom: 0;
}

.p-highlight {
    margin: 0;
    padding: 0;
    font-size: 0.95em;
    color: $accent;
    margin-bottom: 0;
}

.p-label {
    margin: 0;
    padding: 0;
    font-size: 0.85em;
    color: $gray-text;
    margin-bottom: 0;
}

.red {
    color: $red !important;
}

.green {
    color: $green !important;
}

/* Elements */

button {
    color: $white;
    font-weight: bold;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 0;
    outline: none;
    background-color: $accent;
    border: none;
    padding: 12px 24px;
    transition: all 0.2s;
    border-radius: 2px;
    box-shadow: $box-shadow;
    cursor: pointer;
    margin-right: 6px;
    &:hover {
        background-color: $accent-highlight;
    }
}

/* Nav Bar */

/* Container Styling */
.body-outer {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    margin-bottom: 24px;
    .body-inner {
        padding: 0 12px;
    }
}

.list-div {
    margin-bottom: 32px;
}

.list-grid {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

/* Card Styling */
.card {
    background-color: $white;
    box-shadow: $box-shadow;
    margin: 0;
    padding: 12px;
    border-radius: 2px;
    border: solid 1px $gray-border;
}

.title-div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 4px;
    img {
        height: 20px;
        opacity: 0.25;
        width: auto;
        margin-right: 4px;
    }
}

.course-card, .project-card {
    width: 300px;
    margin: 0 6px 6px 0;
    transition: all 0.2s;
    top: 0;
    position: relative;
    .p-title, img {
        transition: all 0.2s;
    }
    &:hover {
        top: -2px;
        img {
            opacity: 0.35;
        }
    }
}

.course-card {
    .p-label {
        margin-top: 1px;
    }
    .bottom {
        margin-top: 18px;
    }
}

.project-card {
    .p-label {
        margin-top: 1px;
    }
    .bottom {
        margin-top: 18px;
    }
}

.submission-card {
    width: 100%;
    margin-bottom: 6px;
    .p-black {
        margin-bottom: 4px;
    }
}

.account-card {
    width: 100%;
    margin-bottom: 6px;
    .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .icons {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            margin-left: 10px;
            height: 20px;
            width: auto;
            transition: all 0.2s;
            opacity: 0.45;
            cursor: pointer;
            &:hover {
                opacity: 0.75;
            }
        }
    }
}

/* View Styling */
.title-view-div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12px;
    h2 {
        margin: 0;
    }
    img {
        height: 42px;
        width: auto;
        opacity: 0.5;
        margin-right: 12px;
    }
}

.view-container {
    margin: 12px 0 32px 0;
}

.button-view-div {
    margin-bottom: 36px;
}

.spacer {
    margin-bottom: 12px;
}

.spacer-small {
    margin-bottom: 6px;
}

/* Navigation Bar */
nav {
    position: fixed;
    width: 100%;
    background-color: $white;
    border-bottom: solid 1px $gray-border;
    box-shadow: $box-shadow;
    top: 0;
    z-index: 500;
    .nav-interior {
        padding: 6px 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .navactive {
        color: $accent;
    }
    a {
        color: $gray-text;
        transition: all 0.2s;
    }
    h1 {
        margin: 0;
        font-size: 1.15em;
        color: $black;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            display: inline-block;
            margin: 0 12px;
            font-size: 0.95em;
        }
    }
    .account-div {
        img {
            height: 28px;
            width: auto;
            opacity: 0.45;
            transition: all 0.2s;
            cursor: pointer;
            &:hover {
                opacity: 0.75;
            }
        }
        .dropdown {
            display: none;
        }
    }
}

/* Other stuff */
.intro {
    background-color: $accent;
    padding: 16px;
    border-radius: 3px;
    margin-bottom: 24px;
    h5 {
        font-size: 1.15em;
        color: $white;
        margin: 0;
        margin-bottom: 4px;
    }
    .desc {
        margin: 0;
        color: $white;
        font-size: 0.95em;
        margin-bottom: 18px;
    }
}